{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="alert alert-warning" role="alert">
            <div class="media">
                <div class="media-left">
                    <i class="fa fa-warning"></i>
                </div>
                <div class="media-body">
                    <p>
                        {{ text_warning }}
                    </p>
                    <br>
                    <a href="{{ link_marketplace }}" target="_blank" rel="noopener noreferrer" >{{ text_goto }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
